@model IEnumerable<BookApp.Models.Book>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BookName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AuthorNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CategoryNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PublisherNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BookName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AuthorNavigation.Author1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryNavigation.Category1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PublisherNavigation.Publisher1)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Bid">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Bid">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Bid">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
